<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="figurehead.ui"
          android:versionCode="10"
          android:versionName="0.1.3" >

  <uses-sdk android:minSdkVersion="18" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

  <application
      android:icon="@drawable/figurehead_david"
      android:label="@string/app_name"
      android:theme="@android:style/Theme.DeviceDefault">

    <activity
	android:name=".main">
      
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      
    </activity>
  </application>

</manifest>
